{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    {% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    {% endblock style %}
</head>
<body>
{% block links %}
{% if request.user.is_authenticated %}
 <a href="{% url 'index' %}" class="link"><h2 id="homepage">Home</h2></a>
 <a href="{% url 'playlist' %}" class="link"><h2 id="playlist">Playlist</h2></a>
 <a href="{% url 'uploadtrack' %}" class="link"><h2 id="uploadlink">Upload</h2></a>
 <a href="{% url 'accounts:logout' %}" class="link"><h2 id="logout">logout</h2></a>

{% else %}

 <a href="{% url 'accounts:login' %}" class="link"><h2 id="login">Login</h2></a>
 <a href="{% url 'accounts:register' %}" class="link"><h2 id="register">Register</h2></a>
 <a href="{% url 'index' %}" class="link"><h2 id="homepage">Home</h2></a>
 <a href="{% url 'uploadtrack'}" class="link"><h2 id="uploadlink">Upload</h2></a>
 <a href="{% url 'playlist' %}" class="link"><h2 id="playlist">Playlist</h2></a>
{% endif %}
{% endblock links %}


{% block content %}
<h1 id="mydashboard">Dashboard   :   Songs you uploaded</h1>
{% for item in mytrack %}
<a href="{% url 'track_detail' item.pk %}" class="linkstyle"><h2 id="tracktitle">{{item.title}}</h2></a>
<h1 id="timeofsong">{{item.created_at}}</h1>
{% empty %}

<h1 id="nothing">nothing</h1>

{% endfor %}
{% endblock content %}

</body>
</html>